<!-- Favorite Place details pages -->

<h1><%= @place["name"] %></h1>


<h2>Entries for this location</h2>

<ul>
  <% for entry in @entries %>
  <li>
    <%= entry["title"] %>
    <%= entry["description"] %>
    <%= entry["posted_on"] %>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>%">Add a new entry</a>

<p>
  <a href="/places">Back to all my favorite places</a>
</p>  